[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = https://github.com/openzfs/zfs.git
	branch = zfs-2.4-release
[submodule "submodules/asahi-kernel"]
	path = submodules/asahi-kernel
	url = https://github.com/UbuntuAsahi/linux.git
	# Pin a packaging tag (not a moving branch) so Renovate can propose newer
	# Ubuntu-asahi-arm-* tags. Keep the recorded submodule commit in sync.
	branch = Ubuntu-asahi-arm-7.0.0-1002.2
