[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = ../zfsonlinux
[submodule "submodules/asahi-kernel"]
	path = submodules/asahi-kernel
	url = https://github.com/UbuntuAsahi/linux.git
	branch = asahi-arm-7.0
